.quote {
  border-left: 4px solid var(--bg-border-gray);
  background-color: var(--bg-search);
  font-family: var(--family-article);
  font-weight: 400;
  font-style: italic;
  font-size: 2.4rem;
  line-height: 3.2rem;
  border-radius: var(--radius);
  padding: 3.2rem;
}
